body{
  font-size:20px;
}


.playerSlot {
  height: 300px;
  background-color: rgba(255,0,0,0.1);
}

.playerCard{
  height: 80px;
  width: 55px;
}


.autoPlayerCard{
  height: 50px;
  width: 30px;
}

.sortedSlotCard{
  height: 80px;
  width: 55px;
  margin: auto;
}


@keyframes launcher {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.launch .overlay {
  opacity: 1;
  transition: 1.5s ease;
 animation: launcher 2s linear ;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 2.5s ease;

  background-color: #008CBA;
  z-index: 999;

}


.launch-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;


}